<div id="signuphead">新規登録</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :メールアドレス, class: "deviselabel" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "deviseinput" %>
  </div>

  <div class="field">
    <%= f.label :パスワード, class: "deviselabel" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "deviseinput" %>
  </div>

  <div class="field">
    <%= f.label :パスワード確認用, class: "deviselabel" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "deviseinput" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "新規登録", class: "devisesubmit" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
